.gpt1__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.gpt1__navbar-links {
  flex: 1; 
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.gpt1__navbar-links_logo{
  margin-right: 2rem;
}

.gpt1__navbar-links_logo img {
  width: 62.56px;
  height: 16.02px;
}
.gpt1__navbar-links_container {
  display: flex;
  flex-direction: row;

}
.gpt1__navbar-sign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gpt1__navbar-links_container p,
.gpt1__navbar-sign p,
.gpt1__navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 25px; /* espacement entre les lignes */
  text-transform: capitalize; /* met la 1ère lettre de chaque mot en maj */
  margin: 0 1rem;
  cursor: pointer;
}

.gpt1__navbar-sign button, 
.gpt1__navbar-menu_container button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #FF4820;
  font-family: var(--font-family);
  font-weight: 500;
  left: 1153px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  border :0; /* pas de bordure */
  outline: 0;
  cursor: pointer;

}

.gpt1__navbar-menu {
  margin-left: 1rem;
  display: none; /* l'élémt n'est pas affiché et sort du flux */
  position: relative;
}

.gpt1__navbar-menu svg {
  cursor: pointer;
}

.gpt1__navbar-menu_container {
  display:flex; 
  justify-content: flex-end;
  align-items: flex-end; 
  flex-direction: column;
  text-align: start;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right:0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0,0,0,0.2);

}

.gpt1__navbar-menu_container p {
  margin: 1rem 0;
}

.gpt1__navbar-menu_container-links-sign {
  display: none;
}

@media screen and (max-width: 1050px){
  .gpt1__navbar-links_container{
    display: none;
  }
  .gpt1__navbar-menu {
    display: flex; /* affiche */
  }
}

@media screen and (max-width: 700px){
  .gpt1__navbar-links_container{
    display: none;
  }
  .gpt1__navbar-menu {
    display: flex; /* affiche */
  }
}


@media screen and (max-width: 550px){
  .gpt1__navbar{
    padding: 2rem;
  }
  .gpt1__navbar-sign{
    display: none; /* affiche */
  }
  .gpt1__navbar-menu_container{
    top: 20px;
  }
}