.gpt1__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.gpt1__navbar-links {
  flex: 1; 
  display: flex;
  justify-content: center;
}


.gpt1__navbar-links_logo{
  margin-right: 2rem;
}

.gpt1__navbar-links_logo img {
  width: 62px;
  height: 16px;
}
/* 42:48 */